#main {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    text-align: center;
}

@font-face {
    font-family: pixel;
    src: url(pixel.ttf);
}

a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.26559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.08594;
    }

    60% {
        opacity: 0.20313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.24387;
    }
}

a:hover {
    color: grey;
}

body {
    font-family: pixel;
    background-color: black;
    color: white;
    text-shadow: 0 0 10px;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 20px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 10px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 20px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 20px);

    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}